# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
#
#	【連載Git入門 第6回】SourceTreeでGitを始めよう！UnityのプロジェクトをGitで管理しよう  naichilab - Android iOSアプリ開発メモ
#	http://naichilab.blogspot.jp/2014/01/git-6sourcetreegitunitygit.html
#
#	以下の設定は、上記サイトからの丸コピーです
#
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ProjectSettings/*.asset
  
# ----[ Visual Studio / MonoDevelop generated ]------- #
  
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
  
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
 
# -------------[ Build ]------------------------ #
*.html
*.unity3d
# -------------[ ]------------------------ #

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #



# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
#
#	以下の設定は、個人的/実験的に追加したものです
#
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# ---------------------------------------------------------------------------- #
*.meta
# ---------------------------------------------------------------------------- #

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
